@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Faustina&family=IBM+Plex+Mono:wght@200;300&family=Poppins&family=Roboto+Mono:wght@200&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto Mono", monospace;
}

body {
    background: rgb(32, 33, 36);
    background: radial-gradient(
        circle,
        rgba(32, 33, 36, 1) 0%,
        rgba(13, 13, 14, 1) 100%
    );

    color: whitesmoke;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    align-items: flex-end;
    height: 20%;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 150px;

    &__label {
        width: 97px;
        text-align: right;
    }
}

.switch-box {
    &__switch {
        height: 0;
        width: 0;
        visibility: hidden;
    }
    &__label {
        cursor: pointer;
        text-indent: -9999px;
        width: 40px; //size
        height: 20px; //size
        background: grey;
        display: block;
        border-radius: 90px;
        position: relative;
    }
    &__label:after {
        content: "";
        position: absolute;
        top: 1px; //size
        left: 1px; //size
        width: 18px; //size
        height: 18px; //size
        background: #fff;
        border-radius: 90px;
        transition: 0.3s;
    }
    &__switch:checked + &__label {
        background: grey;
    }
    &__switch:checked + &__label:after {
        left: calc(100% - 1px); //size
        transform: translateX(-100%);
    }
    &__label:active:after {
        width: 30px;
    }
}

.input {
    font-family: inherit;
    width: 80vw;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 10px;
    background: transparent;
    text-align: center;
}

.text {
    height: 80%;
}

.output {
    width: 80vw;
    min-height: 45vh;
    font-size: 32px;
    text-align: left;
    padding: 20px;
    overflow-wrap: break-word;
    height: fit-content;

    &--bold {
        font-weight: 900;
        font-size: 24px;
    }
}

.button-box {
    margin: 15px;
    padding: 5px;
    opacity: 1;
    transition: opacity 0.5s ease-out;

    &--hiding {
        opacity: 0;
        height: 0px;
        transition: opacity 0.2s ease-in;
    }

    &__button {
        width: 50px;
        display: inline-block;
        padding: 15px;
        border: 0.16em solid #ffffff;
        margin: 0 0.3em 0.3em 0;
        box-sizing: border-box;
        text-decoration: none;
        font-weight: 900;
        color: #ffffff;
        text-align: center;
        transition: all 0.15s;
        font-weight: 900;
        background: rgb(32, 33, 36);
        background: radial-gradient(
            circle,
            rgba(32, 33, 36, 1) 0%,
            rgba(13, 13, 14, 1) 100%
        );
        box-shadow: 0 0 10px 2px rgb(13, 13, 14);
    }

    &__button:hover {
        color: #8e9100;
        border-color: #404108;
    }

    &__button:active {
        transform: scale(0.9);
        transition: all (0.1s);
        border-color: #8e9100;
    }
}

.button-active {
    transform: scale(0.9);
    transition: all (0.1s);
    border-color: #8e9100;
    color: #8e9100;
}

@media only screen and (max-width: 600px) {
    .button-box {
        order: 1;
        position: sticky;
        bottom: 110px;

        &__button {
            // color: whitesmoke;
            background: rgb(32, 33, 36);
            background: radial-gradient(
                circle,
                rgba(32, 33, 36, 1) 0%,
                rgba(13, 13, 14, 1) 100%
            );
            box-shadow: 0 0 10px 2px rgb(13, 13, 14);
        }
    }
    .container {
        margin-top: 100px;
    }
}
